<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
     http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
     http://www.springframework.org/schema/context
     http://www.springframework.org/schema/context/spring-context.xsd">
    <!-- <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Repository"></context:exclude-filter>-->
    <context:component-scan base-package="com.ruiclear.springdemo" >
    <!--<context:exclude-filter type="assignable" expression="com.ruiclear.springdemo.User"></context:exclude-filter>-->
    </context:component-scan>
    <!--<bean id="helloWorld" class="com.ruiclear.springdemo.HelloWorld" init-method="init" destroy-method="destory">
         <property name="user" >
             <ref bean="user"></ref>
         </property>
    </bean>-->
  <!--  <bean id="user" class="com.ruiclear.springdemo.User">
        <property name="name">
            <value>rui</value>
        </property>
        <property name="age"><value>21</value></property>
    </bean>
    <bean class="com.ruiclear.springdemo.MyBeanPostProcess"></bean>-->
  <!--  <bean id="user" class="com.ruiclear.springdemo.StaticFactory" factory-method="getUser">
        <constructor-arg value="tom"></constructor-arg>
    </bean>-->
  <!--  <bean id="instanceFactory" class="com.ruiclear.springdemo.InstanceFactory"></bean>
    <bean id="user" factory-bean="instanceFactory" factory-method="getUser">
        <constructor-arg value="jack"></constructor-arg>
    </bean>-->
   <!-- <bean id="user" class="com.ruiclear.springdemo.MyFactoryBean">
        <property name="name" value="rui"></property>
    </bean>-->
</beans>